@model LeasingCore.Models.Report

@{
    ViewData["Title"] = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Create</h2>

<h4>Report</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="ReportDescription" class="control-label"></label>
                <textarea asp-for="ReportDescription" class="form-control"></textarea>
                <span asp-validation-for="ReportDescription" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input asp-for="LeasingDetailId" type="hidden" value="@ViewBag.LeasingDetailId" class="form-control" />
            </div>
            <div class="form-group">
                <input asp-for="ReportAdded" type="hidden" value="@DateTime.Now" class="form-control" />
            </div>
            <div class="form-group">
                <input asp-for="StatusId" type="hidden" value=1 class="form-control" />
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-success" />
                <a asp-action="Index" class="btn btn-default">Back to List</a>
            </div>
        </form>
    </div>
</div>