<form asp-controller="Products" method="get" class="navbar-form navbar-left">
    <div class="form-group" >
        <input name="filter" id="filterProduct2" class="form-control" placeholder="Search for product" style="width:300px;"/>
    </div>
    <button type="submit" class="btn btn-info">
        <span class="glyphicon glyphicon-search" aria-hidden="true"></span>
    </button>
</form>